.container{
    height: 60vh;
    width: 80vw;
    background-color: var(--black-transparent);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titulo{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo>h1{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    gap: 20px;
}

.compreendo{
    width: 100%;
    height: 60%;
    font-size: 0.85rem;
    border: none;
    border-radius: var(--border-radius-default);
    font-family: 'Orbitron', sans-serif;
    color: var(--black);
    cursor: pointer;
    background-color: var(--primary);
    cursor: pointer;
}
.compreendo:hover{
    background-color: var(--primary-hover);
}